<div class="row">
  <div class="col-12">

    <div class="card shadow-lg mb-3">

      <div class="card-header ">
        <h4 class="card-title">All Events ({{totalRecords | number}})</h4>
        <p class="card-category">Paginated list of all recorded events</p>
      </div>

      <div class="card-body">

        <p-table [value]="rowData" [lazy]="true" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
                 [totalRecords]="totalRecords" (onLazyLoad)="listEvents($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Type</th>
              <th>Source</th>
              <th>Captured At</th>
              <th>Data</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-e>
            <tr>
              <td>{{e.type}}</td>
              <td>{{e.source}}</td>
              <td>{{e.capturedAt}}</td>
              <td>
                <ul class="mb-0">
                  <li *ngFor="let item of e.data | keyvalue">{{item.key}}: {{item.value}}</li>
                </ul>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>

  </div>
</div>
